// dt-formatter: indent="  "
// dt-formatter: multilineIntegerCellsIndent="reindent"

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
  behaviors {
    a_shift: a_shift {
      compatible = "zmk,behavior-hold-tap";
      label = "A_SHIFT";
      bindings = <&kp>, <&kp>;

      #binding-cells = <2>;
      tapping-term-ms = <200>;
      hold-trigger-key-positions = <6 7 8 9 10 18 19 20 21 22 30 31 32 33 34>;
      retro-tap;
      hold-while-undecided;
    };

    semicolon_shift: semicolon_shift {
      compatible = "zmk,behavior-hold-tap";
      label = "SEMICOLON_SHIFT";
      bindings = <&kp>, <&kp>;

      #binding-cells = <2>;
      tapping-term-ms = <200>;
      hold-while-undecided;
      retro-tap;
      hold-trigger-key-positions = <1 2 3 4 5 13 14 15 16 17 25 26 27 28 29>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &trans  &kp Q  &kp W  &kp E  &kp R      &kp T            &kp Y      &kp U       &kp I      &kp O    &kp P     &trans
        &trans  &kp A  &kp S  &kp D  &kp F      &kp G            &kp H      &kp J       &kp K      &kp L    &kp SEMI  &trans
        &trans  &kp Z  &kp X  &kp C  &kp V      &kp B            &kp N      &kp M       &kp COMMA  &kp DOT  &kp FSLH  &trans
                              &mo 1  &mkp LCLK  &kp BACKSPACE    &kp SPACE  &kp RETURN  &mo 2
      >;
    };

    lower_layer {
      bindings = <
        &trans  &kp N1          &kp N2        &kp N3        &kp N4        &kp N5          &kp N6    &kp N7    &kp N8    &kp N9     &kp N0  &trans
        &trans  &bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &trans  &trans
        &trans  &trans          &trans        &trans        &trans        &trans          &trans    &trans    &trans    &trans     &trans  &trans
                                              &kp LGUI      &trans        &kp SPACE       &kp RET   &trans    &kp RALT
      >;
    };

    raise_layer {
      bindings = <
        &trans  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &trans
        &trans  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &trans
        &trans  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &trans
                                  &kp LGUI  &trans    &kp SPACE    &kp RET    &trans     &kp RALT
      >;
    };
  };
};
